body{
    background: linear-gradient(45deg, rgb(96, 93, 112), rgb(27, 22, 58) );
    padding: 0;
    margin: 0;
}
h1 {
    font-family: Verdana;
    color: rgba(255,255,255,0.5);
    padding-top:50px;
    padding-bottom: 25px;
    border-bottom: 05px solid rgba(255,255,255,0.5);
    width:60%;
    text-align: left;
}



.content {
    padding:5% 15% 5% 15%;
}
h2 {
    font-family: "Cambria";
    font-style: italic;
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    padding-bottom: 20px;
}
h3 {
    font-family:'Helvetica';
    color: rgba(255,255,255,0.5);
    font-size: 18px;
}
p {
    font-family: "InputSans";
}

.cover {
    background-image: url(gettyimages-1167334235-1024x1024.jpg);
    background-size: cover;
    background-position: center;
    height:300px;
    box-shadow: 5px 0px 5px 0px rgba(0,0,50,0.7);
    
}